{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}
Carrito
{% endblock titulo%}

{% block contenido %}
<div class="container">
  <div class="text-center mb-3">
      <h1 class="shop">Carrito</h1>
  </div>
  <div class="row border-bottom py-2">
      <h4 class="col text-center">Producto</h4>
      <h4 class="col text-center">Precio</h4>
      <h4 class="col text-center">Cantidad</h4>
  </div>

  {% if request.session.carrito.items %}
  {% for key, value in request.session.carrito.items %}
  <div class="row align-items-center border-bottom py-2">
      <div class="col d-flex align-items-center">
          <img src="{{ value.imagen_url }}" class="producto-imagen me-3" alt="{{ value.nombre }}">
          <div>{{ value.nombre }}</div>
      </div>
      <div class="col text-center">{{ value.precio }} $</div>
      <div class="col text-center">
          {{ value.acumulado }}
          <a href="{% url 'Add' value.producto_id %}" class="btn btn-outline-primary ms-2">+</a>
          <a href="{% url 'Sub' value.producto_id %}" class="btn btn-outline-secondary ms-2">-</a>
      </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="text-center py-3 errorlist">
      <div class="shop-2">Sin Productos</div>
  </div>
  {% endif %}
</div>

<div class="row text-center mt-5 py-5 justify-content-between">
  <div class="col-3"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
  <div class="col-3"><a href="{% url 'pagina_principal' %}" class="btn btn-success">Seguir Comprando</a></div>
  {% if user.is_authenticated %}
  <div class="col-3"><a href="#" class="btn btn-success">Comprar</a></div>
  {% else %}
  <p> Si deseas comprar recuerda iniciar sesion...</p>
  <a href="{% url 'pagina_entrar' %}"> <button class="w-75 btn bordesito-1" style="border: 1px solid grey;"> Iniciar
      Sesion </button></a>
  {% endif %}
</div>

{% endblock contenido %}